.modal__backdrop {
    background-color: rgba(83, 77, 77, 0.21);
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.modal__whitespace {
    background-color: rgb(247, 244, 244);
    width: 35%;
    height: 100%;
    text-decoration: none;
}

.modal__navdecoration {
    text-decoration: none;
    color: darkcyan;
    font-size: 1.2rem;
    text-align: Center;
}

.modal__nav {
    margin-bottom: .5rem;
    position: relative;
}

.modal__navdecoration h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.modal__navdecoration h3:focus,
.modal__navdecoration h3:hover {
    background-color: darkcyan;
    color: white;
}

.modal__contactbtn {
    text-align: center;
    background: darkcyan;
    color: white;
    border-radius: 8px;
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 4px;
    font-size: 1.2rem;
    position: relative;
    z-index: 100;
}

.modal__contactbtn:focus,
.modal__contactbtn:hover {
    background-color: rgb(0, 69, 69);
}

.modal__contactbtn h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.modal__contactbtn a h3 {
    height: 100%;
    width: 100%;
    margin: 0;
}

.modal__line {
    border-bottom: 1px solid gray;
    margin-left: 16px;
    margin-right: 16px;
}

.modal__navdecoration h3 {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.modal__contactlink {
    text-decoration: none;
    color: white;
    margin: 0;
}