.project__main {
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    background-color: rgba(0, 128, 128, 0.147);
    padding-top: 4rem;
    padding-bottom: 2rem;
    min-height: calc(80vh - 8rem);
}

.project__title {
    text-align: center;
    font-size: 2.4rem;
}

.projects__name {
    text-align: center;
}

.title__line {
    background: rgba(0, 0, 0, 0.287);
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 1px;
    display: relative;
    
}

.portfolio_img {
    width: 100%;
    height: 100%;
    border: solid black 1px;
    display: inline-block;
}

.project__section {
    display: inline-block;
    text-align: center;
}

.projects__paragraph {
    width: 100%;
}

.portfolio__text__left {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.project__section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.portfolio__links {
    display: inline-block;
    width: 80%;
}

.portfolio__linkdecoration {
    text-decoration: none;
}

.portfolio__linktitle {
    border-radius: 8px;
    border: gray 4px;
    background-color: gray;
    padding: 8px;
    color: white;
}

.bold {
    font-weight: bold;
    display: inline-block;
}


@media (min-width: 64rem) {

    .project__main {
        height: 100%;
        width: 100%;
        position: relative;
        padding-left: 4rem;
        padding-right: 4rem;
        display: inline-block;
        background-color: rgba(0, 128, 128, 0.147);
        padding-top: 8rem;
        padding-bottom: 2rem;
        min-height: calc(80vh - 8rem);
    }

    .project__title {
        text-align: center;
        font-size: 4rem;
    }

    .projects__name {
        font-size: 3rem;
    }

    .portfolio_img {
        height: 100%;
        width: 100%;
        border: solid black 1px;
        display: inline-block;
        margin:.5rem;
    }

    .project__section {
        display: inline-block;
        text-align: left;
    }

    .portfolio__text__left {
        width: 45%;
        display: inline-block;
        text-align: left;
        font-size: 2.2rem;
        margin: .5rem;
        padding-bottom: 27vh;
        border-bottom: rgba(0, 0, 0, 0.287), 1px solid;

    }

    .portfolio__github {
        display: inline-block;
        width: 45%;
    }

    .portfolio__livelink {
        display: inline-block;
        width: 45%;
    }

    .portfolio__links {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .portfolio__linktitle {
        border-radius: 8px;
        border: gray 4px;
        background-color: gray;
        padding: 1rem 3rem;
        color: white;
        position: relative;
        display: inline-block;
        font-size: 1.64rem;
    }

    .portfolio__imageslinks {
        width: 45%;
        display: inline-block;
        text-align: left;
        font-size: 2.2rem;
        margin: .5rem;
        position: absolute;
        max-width: 1400px;
    }

    /*.title__line {
        background: rgba(0, 0, 0, 0.287);
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        height: 1px;
        margin-top: 12rem;
        position: relative;
    }*/

}